name: Build Geode Mod

on:
  push:
    branches:
      - main # or master
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - name: windows-latest
            platform: Win
            target: win
          - name: macos-latest
            platform: MacOS
            target: mac
          - name: ubuntu-latest
            platform: Android
            target: android64
    runs-on: ${{ matrix.name }}
    steps:
      - uses: actions/checkout@v4
      - uses: geode-sdk/build-action@v1
        id: geode
        with:
          target: ${{ matrix.target }}
          
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-${{ matrix.platform }}
          path: ${{ steps.geode.outputs.mod-path }}
          
