name: Build Geode Mod

on:
  push:
    branches: [main, master]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        target: [win, mac, android64]
    
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Use the consolidated Geode Build Action
      - uses: geode-sdk/geode-build-action@v1
        id: geode
        with:
          target: ${{ matrix.target }}
          
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-${{ matrix.target }}
          path: ${{ steps.geode.outputs.mod-path }}
          
